<div class="row pull-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    	<%= gravatar_for(@user)%>
      <div class="caption">
        <h3>Name: <%= @user.name if @user.name %></h3>
        <p>Data of registration: <%= @user.created_at%></p>
        <p>About me: <%= @user.about%></p>
        <p><%=link_to("Edit Information", edit_user_path(@user), class: "btn btn-primary", role: "button")%></p>
      </div>
    </div>
  </div>
</div>


